

body{
	/*background-color: #DADFE1;*/
	background-color: #ddd;
	padding-top: 0;
}
header{
	position: absolute;
	background-color: rgba(0,0,0,0);
	box-shadow: 0 1px 10px rgba(0,0,0,0);
}
header a{
	font-size: 14px;
	font-weight: bolder;
	color: #fff;
}
#main-body{
	display: flex;
	position: relative;
	top: -80px;
	margin: 0 auto;
	flex-direction:row;
	justify-content:center;
	max-width: 1000px;
}
article{
	margin-top:20px; 
	width: 65vw;
}
aside{
	width: 25vw;
	margin-right: 10px;
	margin-top:20px;	
}
.blog-head{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
/*	width:90vw;*/
	margin: 0;
	height: 500px;
	/*max-width: 1000px;*/
	background: rgba(0,0,0,0) url(../img/bg-blue.png) no-repeat 50% 0;
	background-size: 100% 100%;
}

.round{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	z-index: 9;
}
.blog-user{
	display: block;
	margin-top: 10px;
	color: #fff;
	font-size: 30px;
	z-index: 9;
}
.text-box{
	margin: 10px auto;
	box-shadow:0 0 2px rgba(0,0,0,.1); 
	border-radius: 2px;
	background-color: #fff;
	
}
.text-box ul{
	padding: 16px 18px 10px; 
}
.text-box li{
	list-style:none;
	height: 20px;
	margin-bottom: 7px;
}
.text-body{
	padding: 10px;
}
.img-head{
	/*position: absolute;*/
	margin: 3px 0;
	width: 50px;
	height: 50px;
}
.text-head{
	position: relative;
	padding: 20px 10px 0;
}
.text-head h3{
	position:absolute;
	top: 20px;
	left: 80px;
}
.text-date{
	position:absolute;
	top: 50px;
	left: 80px;
}
.lable-box{
	position: absolute;
	top: 48px;
	left: 175px;
	height: 20px;

}
.cell{
	line-height: 21px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	padding: 1px 10px;
	margin: 0 2px;
	border-radius: 2px;
	cursor: pointer;
}
.bg-r{
	background-color: red;
}
.bg-b{
	background-color: #159;
}
.bg-o{
	background-color: orange;
}
.bg-g{
	background-color: #d90;
}
.text-foot{
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	border-top: 1px solid #eee;
	
}
.text-foot p{
	display: flex;
	flex-direction:row;
	justify-content:center;
	text-align: center;
	line-height: 22px;
	font-size: 12px;
	height: 22px;
	margin: 8px 0;
	border-right: 1px solid #ddd;
	flex-grow:1;
	
}
.icon-out{
	width: 22px;
	height: 22px;
	border:none;
}
.text-foot span{
	width: 22px;
	height: 22px;
	border:none;
	cursor: pointer;		
}

#a {
	background: url(../icon/sc.png) no-repeat 50% 50%;
	background-size: 14px 14px;
}
#b{
	background: url(../icon/pl.png) no-repeat 50% 50%;
	background-size: 14px 14px;
}
#c{
	background: url(../icon/zf.png) no-repeat 50% 50%;
	background-size: 14px 14px;
}
.content{
	padding-left: 10px;	
}
.content p{
	display: block;
	margin-top: 10px;
}



aside h3{
	padding: 10px 10px 10px;
	border-bottom: 1px solid #ddd;
}


@media  screen  and (max-width: 768px) {
	aside{
		display: none;
	}
	article{
		width: 90vw;
	}
	.content{
		padding: 0;
	}
	.img-head{
		display: none;
		
	}

}






