*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #000;
	font-family:"Microsoft YaHei";
}
#all{
	/* display: flex;
	flex-derection:row;
	flex-wrap: wrap-reverse; */
	width: 100%;
	height: 100%;
	overflow: hidden;
	white-space:nowrap;
}
#all > a{	
	display: inline;
	width: 25%;
	height: 100vh;
	float: left;
	transition: all 0.3s;
	opacity: 1;
	white-space:nowrap;
}

.font{
	position: relative;
	width: 100%;
	height: 100%;
	line-height: 100vh;
	text-align: center;
	color: #fff;
	font-size: 5vh;
	font-weight: lighter;
	background-color: rgba(0,0,0,.5);
}
.hide{
	display: none;
	position: relative;
	top: 5vh;
}
.font span{
	position: absolute;
	left: 10%;
}
.font:hover{
	background-color: rgba(0,0,0,.1);
	box-shadow: 0 0 10px #000;
}

.font:hover > .hide{
	/*display: block;*/
}
.ani-1s{
	animation-duration: 0.5s;
}
#a{			
	background: #000 url(../img/jw001.jpg) no-repeat center;
	background-size: auto 100%;
}
#b{
	background: #000 url(../img/b.jpg) no-repeat 40%;
	background-size: auto 100%;
}
#c{
	background: #000 url(../img/c.jpg) no-repeat 40%;
	background-size: auto 100%;
}
#d{
	background: #000 url(../img/d.jpg) no-repeat center;
	background-size: auto 100%;
}
@media  screen  and (max-width: 768px) {
	#all a{
		width: 100vw;
		height: 25vh;		
	}
	#a,#b,#c,#d{
		background-size: 100% auto;
	}
	.font{
		line-height: 25vh;
		font-size: 5vw;
	}
	.font span{
		position: absolute;
		left: 40%;
	}
}


