*{
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei";
}
body{
	padding-top: 60px;
}
header{
	position: fixed;
	top: 0;
	z-index: 99;
	display: flex;
	flex-dirction:column;
	justify-content:space-around;
	align-items:center;
	font-size: 12px;
	height: 5em;
	width: 100%;
	box-shadow: 0 1px 10px rgba(0,0,0,.5);
	background-color: #333;
}
header img{
	margin: 0 25px;
	height: 50px;
}
header ul{
	height: 100%;
	display: flex;
	flex-dirction:row;
	justify-content:space-around;
	align-items:center;
}
header ul li{
	margin: 0 20px;
	list-style-type:none;
}
header nav{
	height: 100%;
}
nav a{
	color: #eee;
	font-style: normal;
	text-decoration: none;
}
.cover{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
}
.min-nav{
	display: none;
	margin: 15px 25px;
	height: 30px;
	cursor:pointer;
}
@media  screen  and (max-width: 768px) {
	header{
		justify-content:space-between;
	}
	header nav{
		display: none;
	}
	.min-nav{
		display: block;
	}
}