*{
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei";
}
body{
	padding-top: 60px;
}
.bg-r{
	background-color: red;
}
.bg-b{
	background-color: #159;
}
.bg-y{
	background-color: orange;
}
.bg-o{
	background-color: #d50;
}
.bg-g{
	background-color: #1d1;
}
.bg-h{
	background-color: #000;
}
.bg-a{
	background-color: #555;
}
header{
	position:absolute;
	top: 0;
	z-index: 99;
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
	font-size: 12px;
	height: 5em;
	width: 100%;
	box-shadow: 0 1px 10px rgba(0,0,0,.5);
	background-color: #333;
}
header img{
	margin: 0 25px;
	height: 50px;
}
nav ul{
	height: 100%;
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
}
nav ul li{
	margin: 0 20px;
	list-style-type:none;
}
header nav{
	height: 100%;
}
header a{
	color: #eee;
	font-style: normal;
	text-decoration: none;
}
.head-menu{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.8);
}
.head-menu ul{
	margin-top: 10vh;
	height: 100%;
	width: 100%;
	
}
.head-menu li{
	margin: 20px auto;
	list-style-type:none;
	text-align: center;
	color: #fff;
	font-size: 5vw;
}


.icon-box{
	height: 30px;
	z-index: 9;
}
.icon-cell{
	display: inline-block;
	margin: 0 3px;
	padding-top: 6px;
	height: 24px;
	width: 30px;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	color: #eee;
	text-decoration:none;
	border-radius: 15px;
	cursor: pointer;
}
footer{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	border-top: 1px solid #aaa;
	box-shadow: inset 0 1px 1px #fff;
	width: 100%;
	height: 120px;
}
footer p{
	font-size: 12px;
	margin: 2px 0;
	text-align: center;
}
footer .icon-box{
	margin: 10px 0;
}
.weixin{
	display: none;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	color: #fff;
	z-index: 99;
	background: rgba(0,0,0,.5);

}
.weixin img{
	
	width: 200px;
	height: 200px;
}

.to-top{
	margin: 20px auto;
	height: 35px;
	width: 70px;
	border-radius: 5px;
	text-align: center;
	
	padding: 2px 10px;
	background-color: #159;
}
.to-top a{
	text-decoration: none;
	font-size: 20px;
	line-height: 35px;
	color: #eee ;
}






.min-nav{
	display: none;
	margin: 15px 25px;
	height: 30px;
	cursor:pointer;
	z-index: 99;
}
@media  screen  and (max-width: 768px) {
	header{
		justify-content:space-between;
	}
	header nav{
		display: none;
	}
	.min-nav{
		display: block;
	}
	.footer p{
		font-size: 10px;
	}
}