body{
	background-color: #fff;
	overflow-x:hidden; 
}
header a{
	font-size: 14px;
	font-weight: bolder;
	color: #fff;
}
.all-cover{
	position: fixed;
	top: 0;
	display: none;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.8);
	z-index: 98;
}
.img-box{
	position: relative;
	margin-bottom: 50px;
	z-index: 99;
}
.img-box img{
	margin-top: 80px;
	width: 80vw;
}
.all-cover .close{
	position: absolute;
	top: 80px;
	right: -5vw;
	font-size: 5vw;
	color: #fff;
	cursor: pointer;
	z-index: 99;
}
.photo-head{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
/*	width:90vw;*/
	margin: 0;
	height: 100vh;
	/*max-width: 1000px;*/
	/*background: rgba(0,0,0,0) url(../img/d.jpg) no-repeat 50% 50%;
	background-size: 100% auto;*/
}


.cover{
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.5);
}
.name{
	color: #fff;
	font-size: 45px;
	font-weight: bolder;
	z-index: 9;
}
.word{
	color: #fff;
	font-size: 14px;
	text-align: center;
	z-index: 9;
}
#carousel{
	position: absolute;
	top: 0;
	width:100vw;
	height: 100vh;
	background-color: #159;
	overflow: hidden;
}

.crs_img{
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
}
.crs_img img{ 
	display: inline-block;
	width:100vw;
	height: 100vh;
	background-color: #159;
	z-index: 2;
	padding: 0 0;
}



.photo-nav{
	display: flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	margin-bottom: 50px;
	width: 100vw;
	height: 75px;
	box-shadow: 0 5px 5px rgba(0,0,0,.1)
}
.photo-nav li{
	float: left;
	color: #333;
	margin: 0 20px;
	padding-bottom: 5px;
	list-style:none;
	cursor: pointer;
	border-bottom: 2px solid rgba(0,0,0,0);
}
.photo-nav li:hover{
	color: #159;
	border-bottom: 2px solid #159;
}


#photo-body{
	display: flex;
	flex-flow:row wrap;
	justify-content:flex-start;
	align-items:flex-start;
	width: 90vw;
	margin: 5VW auto;
}
.photo-column{
	width: 30vw;
}
.photo-cell{
	float: left;
	position: relative;
	margin: 0.25vw;
}
#photo-body  figure{
	width: 29vw;
}
figure img{
	/*height: 100%;*/
	width: 29vw;

}

.photo-cell figcaption{
	display: flex;
	flex-flow:column wrap;
	justify-content:space-between;
	align-items:flex-start;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: #eee;
}
figcaption p{
	display: none;
	padding: 15px;
}
.img-cover{
	display: none;
    position: absolute;
    top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.p-more{
	display: block;
	margin: 20px auto;
	width: 100px;
	color: #222;
	text-align: center;
}




@media  screen  and (max-width: 600px) {
	.photo-column{
		width: 90vw;
	}
	#photo-body  figure{
		width: 89vw;
	}
	figure img{
		/*height: 100%;*/
		width: 89vw;
	}
	.photo-nav li{
		margin: 0 10px;
		font-size: 16px;
	}
}
	
