.photo-head{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
/*	width:90vw;*/
	margin: 0;
	height: 500px;
	/*max-width: 1000px;*/
	background: rgba(0,0,0,0) url(../img/d.jpg) no-repeat 50% 50%;
	background-size: 100% auto;
}
.name{
	color: #fff;
	font-size: 45px;
	font-weight: bolder;
	z-index: 9;
}