
body{
	margin: 0;
	padding: 0;
}
a{
	color: #19b;
}
header{
	position: absolute;
	top: 0;
	background-color: rgba(0,0,0,0);
	box-shadow: 0 1px 10px rgba(0,0,0,0);
}
nav a{
	font-size: 14px;
	font-weight: bolder;
	color: #222;
}
::-webkit-scrollbar{
	width: 0px;
	background-color: rgba(0,0,0,0);
}
.scroll-out{
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.scroll-in{
	position: absolute; 
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
.m-body{
	width: 100vw;
	height: 100vh;
}
.page{
	width: 100vw;
	height: 100vh;
	color: rgb(250,200,25);
	text-align: center;
}
.p1{
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: url(../img/bg-me.jpg) no-repeat 50% 50%;
	background-size: auto 100%;
}
.p-cover{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.5);
}
.name{
	position: absolute;
	bottom: 10vh;
	left: 0vw;
	width: 35vh;
	/*height: 20vh;*/
	color: #fff;
	font-size: 6vh;
	border-radius: 0 10px 10px 0;
/*	border: 5px solid #eee;*/
	text-align: center;
	background-color: rgba(0,0,0,.7);
	
}
.n1{

}
.n2{
	font-size: 2vh;
}
.n3{
	font-size: 6vh;
}


.jj{
	position: relative;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background-color: #111;
}

.i-head{
	width: 150px;
	height: 150px;
	border-radius: 75px;
	margin: 20px 0;
	box-shadow: 0 0 0 10px #222;
	background: url(../img/img-head.jpg) no-repeat 0%;
	background-size: 100% auto;
}
.p-info{
	display: flex;
	justify-content:center;
	align-items:center;
}
.l{
	width: 250px;
	margin: 6px;
	text-align: right;
}
.r{	
	width: 250px;
	margin: 6px;
	text-align: left;
}
.hide-box{
	position: absolute;
	width: 100px;
	color: #111;
	background-color: rgb(250,200,25);
	border-radius: 2px;
	opacity: 0;
}
.hide1{
	top: 30vh;
	right: 20vw;
}
.hide2{
	top: 60vh;
	right: 16vw;
}
.hide3{
	top:40vh;
	left: 13vw;
}
.hide4{
	top: 86vh;
	left: 16vw;
}
.hide-box:hover{
	opacity: 1;
}


.jn{
	position: relative;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background-color: #151515;
}
.p-title{
	
}
.p-title p{
	letter-spacing:2px;
	text-align: center;
	color: rgb(250,200,25);
}
.p-title p:first-child{
	font-size: 5vw;
	font-weight: bold;
	letter-spacing:5px;
	
	border-bottom: 1px solid rgb(250,200,25);
}
.skill-box{
	position: relative;
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-items:flex-start;
	width: 35vw;
	max-width: 420px;
	/*background-color: rgba(0,0,0,.5);*/
	
}
.skill{
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 4px;
	font-size: 16px;
	border-radius: 3px;
	padding: 0 10px;
	color: #111;
	transition: all 0.5s;
}
.skill:hover{
	background-color: rgba(250,250,50,1);
}


.b-o1{
	background-color: rgba(250,200,25,.2);
}
.b-o3{
	background-color: rgba(250,200,25,.3); 
}
.b-o5{
	background-color: rgba(250,200,25,.6); 
}
.b-o7{
	background-color: rgba(250,200,25,.70); 
}
.b-o9{
	background-color: rgba(250,200,25,.85); 
}
.b-o{
	background-color: rgba(250,200,25,1); 
}
.f35{
	font-size: 35px;
}
.f28{
	font-size: 28px;
}
.f12{
	font-size: 12px;
}
.skill-line{
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	margin:15px 0;
	width: 35vw;
	height: 30px;
	border-radius: 3px;
	background: -moz-linear-gradient(left, rgba(250,200,25,1) 0%, rgba(250,200,25,.1) 100%);
	background: -webkit-linear-gradient(left, rgba(250,200,25,1) 0%,rgba(250,200,25,.1) 100%);
}
.skill-line p{
	position: relative;
	margin: 0 30px;	
	color: #222;
	font-size: 12px;
}
.skill-time{
	display: block;
	width: 35vw;
	margin: 20px auto;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}

.sx{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background-color: #222222;
}
.sx .p-title{
	margin-bottom: 20px;
}


.xm{
	position: relative;
	display: flex;
	height: auto!important;
	min-height: 100vh!important;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background-color: #333;
	padding-bottom: 50px;
	padding-top: 30px;
}
.xm .p-title{
	margin-bottom: 20px;
}
.xm-box{
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:space-between;
	width: 90vw;
}
.xm-cell{
	display: flex;
	justify-content:center;
	align-items:center;
	margin: 10px;
	
}
.bg-jq{
	background: url(../img/jquery.png) no-repeat center;
}
.bg-webs{
	background: url(../img/webside.png) no-repeat center;
}
.bg-web{
	background: url(../img/webapp.png) no-repeat center;
}
.bg-img{
	background: url(../img/image.png) no-repeat center;
}
.xm-img{
	width: 10vw;
	height: 10vw;
	max-width: 80px;
	max-height: 80px;
	border-radius: 75px;
	background-size: 60% 60%;
	background-color: rgb(250,200,25);
}

.xm-info{
	width: 30vw;
	margin-left: 20px;
	text-align: left;
}
.xm-a {
	position: absolute;
	text-align: center;
	bottom: 20px;
	width: 100%;
}
.xm-a > a{
	margin: 0 auto;
	text-decoration: none;
	background-color:  rgb(250,200,25);
	padding: 5px 10px;
	border-radius: 4px;
	
	color: #333;
	margin-top: 40px;
}







.xz{
	display: flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
	background-color: #444;
}
.more-p{
	height: 55px;
	padding: 2px 15px;
	text-decoration: none;
	color: rgb(250,200,25);
	line-height: 55px;
	border-radius: 5px;
	font-size: 55px;

}
.more-s{
	font-size: 18px;
}
.more-s span{
	background-color: rgb(250,200,25);
	color: #444;
	height: 16px;
	font-size: 14px;
	border-radius: 5px;
	padding: 0 5px;
	margin: 2px 0;
}
.download{
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
}
.download a{
	height: 35px;
	padding: 2px 15px;
	text-decoration: none;
	color: #444;
	line-height: 35px;
	border-radius: 5px;
	font-size: 28px;
	background-color: rgb(250,200,25);
}
.download p{
	margin-top: 20px;
}
.c-y{
	color: rgb(250,200,25);
}



footer{
	background-color: #888;
}






@media  screen  and (max-width: 768px){
	.skill-box{
		width: 250px;
	}
	.skill-line{
		width: 250px;
	}
	.p-title p:first-child{
		font-size: 25px;
	}
	.p-info{
		font-size: 12px;
	}
	.xm-box{
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
	.xm-info{
		width: 40vw;
	}
	.f35{
		font-size: 28px;
	}
	.f28{
		font-size: 24px;
	}
	.xm-img{
		width: 50px;
		height: 50px;
	}
	.sx .l{
		width: 25vw;

	}
	.sx .r{
		width: 65vw;
	}
}
@media  screen  and (max-width: 400px){
	.xm-info{
		width: 60vw;
	}
}