@import "utf-8";

#sjimg{
	width: 1263px;
	font-family: Microsoft YaHei;
	height: 600px;
	margin: 0 auto;
	color: #fff;
	background: linear-gradient(to top left,rgba(0,0,0,0),rgba(0,0,0,0)),url(../img/sj.JPG) no-repeat center 100%;
	background-size: 1263px 600px;
}
#sjimg .bgfont{
	padding: 140px 0 0 190px;

}
#sjimg h2{
	font-size: 45px;
	/*font-weight: normal;
*/}
#sjimg h3{
	font-size: 18px;
	font-weight: normal;
}

#container .sjform{
	width: 920px;
	/*background-color: red;*/
	position: relative;
}
#container .sjform h2{
	font-size: 25px;
	font-weight: normal;
	border-bottom: 1px dashed #999;
	padding: 5px 0;
	margin: 0 0 20px 0;
}
#container .sjform span{
	color: #999;
	font-size: 20px;
	margin: 0 20px 0 0;
}
#container .sjform a{
	color: #999;
	padding: 2px 10px;
	border-radius: 4px;
}
#container .sjform a:hover{
	background-color: #259;
	color: #fff;
}
#container .sjform a.l{
	background-color: #259;
	color: #fff;
}
#container .sjform span{
	color: #444;
	
}
#container .sjform .left{
	position: absolute;
	top: 60px;
	width: 400px;
	margin: 35px 0 0 0;
	/*background-color: #444;*/
}
#container .sjform .right{
	position: absolute;
	top: 60px;
	left: 380px;
	/*display: inline-block;*/
	width: 400px;
	margin: 35px 0 0 0;
	/*background-color: #333;*/
}
#container .sjform .bottom{
	/*display: inline-block;*/
	/*width: 100px;
	height: 80px;
	background-color: #259;*/
	/*color: #fff;*/
	position: absolute;
	top: 95px;
	right: 50px;
}
#container .sjform .submit{
	width: 100px;
	height: 80px;
	line-height: 25px;
	font-size: 25px;
	font-family: Microsoft YaHei; 
	color: #fff;
	background-color: #f40;
	/*padding: 10px 30px;*/
	border-radius: 5px;
	border: 1px solid #fff;
}
#container .form p{
	line-height: 3;
}
#container .form input{
	font-size: 20px;
	font-family: Microsoft YaHei;
	width: 250px;
	height: 30px;
	padding: 5px;
	border: 1px solid #eee;
	border-radius: 4px;
	color: #666;
	background-color: #fff;
	margin: 0 0 0 30px;
}
#container .about {
	width: 900px;
	position: relative;
	top: 120px;
	
}
#container .about h2{
	font-size: 25px;
	font-weight: normal;
	border-bottom: 1px dashed #999;
	padding: 5px 0;
}
#container .yue{
	margin: 15px 0;
}
#container .yue li{
	display: inline-block;
	padding: 5px 10px;
	border-radius: 4px;
	/*background-color: #753;*/
}
#container .yue li:first-child{
	font-size: 20px;
	margin: 0 15px 0 0;

}
#container .yue .active{
	background-color: #259;
	color: #fff;

}
#container .tab{
	position: relative;
	top: 120px;
	width: 920px;
	/*background-color: #455;*/
}
#container .tab table{
	width: 100%;
	border: 1px solid #999;
	border-collapse: collapse;
}
#container .tab th{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #999;
	background-color: #fafafa;
}

#container .tab tr:hover{
	background-color: #999;
}
#container .tab td{
	text-align: center;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #999;
}
#container .tab .tdblue{
	color: #259;
	font-size: 20px;
	font-weight: bold;
}
#container .tab a{
	background-color: #259;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	border: 0px solid #fff;
}
#container .tab .more{
	font-weight: normal;
}