
.score{
	margin: 0 auto;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.cover{
	display: none;
	position: absolute;
	left: 50vw;
	top: 250px;
	margin-top: -50px ;
	margin-left: -40vw;
	width: 80vw;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 10vw;
	font-weight: bolder;
	color: #fd1;
	z-index: 9;
}
.p-box{
	position: absolute;
	left: 50vw;
	margin-left: -250px;
}
.g-box{
	width: 500px;
	height: 500px;
	border-radius: 10px;
	background-color: #aaa;
}
.bg-box{
	display: flex;
	flex-flow:row wrap;
	justify-content:flex-start;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing:border-box;
}
.b-cell{
	width: 100px;
	height: 100px;
	margin: 10px;
	border-radius: 5px;
}
.cell{
	position: absolute;
	width: 100px;
	height: 100px;
	margin: 10px;
	/*transition:left 0.1s ,top 0.1s;*/
	border-radius: 5px;
	text-align: center;
	line-height: 100px;
	font-size: 50px;
	color: #fff;
	background-color: #dda;
}
.bg7{
	background-color: #777;
}
.bg-2{
	background-color: #dd9;
}
.bg-4{
	background-color: #dc7;
}
.bg-8{
	background-color: #da5;
}
.bg-16{
	background-color: #d95;
}
.bg-32{
	background-color: #c44;
}
.bg-64{
	background-color: #c41;
}
.bg-128{
	background-color: #a31;
}
.bg-256{
	background-color: #a13;
}
.bg-512{
	background-color: #f0a;
}
.bg-1024{
	background-color: #f15;
}

.up-box{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
}